html,body {
	height: 100%;
	margin: 0;}
body {background-color:darkgray}

a.rollover {
  background: url(img/Tux-Shape-Cut.png);
	display: flex;
	flex-wrap: wrap;
	width: 550px;
    height: 512px;
	align-content: center;
	justify-content: center;
   }


a.rollover:hover {
    background-position:+5px -5px;
  }


	
